/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 */
 @import "materialize/components/color";
 $primary-color: color("blue", "lighten-2") !default;
 $secondary-color: color("yellow", "base") !default;
 @import 'materialize';

.main {
  padding-left: 310px;
}
.dash {
  display: flex;
}

.charts {
  // padding-left: 300px;
}

.source-url {
  padding-top: 4px;
  float: left;
}

.card {
  font-size: 13px;
  h1, h2, h3, h4, h5, h6 {
    color: #64B5F6;
  }
}

.card-title {
  text-align: center;
}

.chart-actions {
  float: right;
}

#side-nav {
  background-color: #64B5F6;
  color: white;
  flex: 1;

}

.report {
  padding: 10px;
}

 .internet {
 	background-color: #40e0d0;
 }

 .mobile {
 	background-color: #708090;
 }

 .facebook {
 	background-color: #3b5998;
 }

 .twitter {
 	background-color: #0084b4;
 }

 .instagram {
 	background-color: #cd486b;
 }

 .whatsapp {
 	background-color: #34af23;
 }

 .linkedin {
 	background-color: #0077B5;
 }

 .telegram {
 	background-color: #0088cc;
 }

 .icon {
   float: left;
 }

 .chart {
  //  background-color: black;
  //  opacity: 0.9;
   padding: 25px;
 }

.dash {
  padding: 5px;
  box-shadow: 0px 1px 1px 0px;
}

.share {
  display: none;
}

.report {
  padding: 25px;
  text-align: justify;
}

.modal-form {
  padding: 15px;
}

.report-page {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
}
