<ul id="slide-out" class="side-nav fixed">
   <li>
     <div class="user-view">
       <div class="background">
       </div>
       <a href="http://digital4africa.com/" target="_blank"><span class="white-text name">Digital4Africa</span></a>
       <a href="#!email"><span class="white-text email">info@digital4africa.com</span></a>
     </div>
   </li>
   <li><a class="waves-effect" href="#internet">Internet</a></li>
   <li><a class="waves-effect" href="#facebook">Facebook</a></li>
   <li><a class="waves-effect" href="#twitter">Twitter</a></li>
   <li><a class="waves-effect" href="#instagram">Instagram</a></li>
   <li><a class="waves-effect" href="#mobile">Mobile</a></li>
   <li><a class="waves-effect" href="#linkedin">Linkedin</a></li>
   <li><a class="waves-effect" href="#whatsapp">WhatsApp</a></li>
 </ul>
